@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900;1000&display=swap');
* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  direction: rtl;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Cairo', sans-serif;
  -webkit-tap-highlight-color: transparent;
}
body {
  overflow-x: hidden;
  position: relative;
  background: #fff !important;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  margin: 0;
}
button,
a {
  color: #000;
}
.fancybox__container {
  z-index: 9999999999;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
// colors
$main: #191936;
$second: #1d70b7;
$second10: #fbfdfe;
$second30: #c8e1f6;
$text: #777777;
$white: #fff;
$black: #000;
$transition: all .4s ease-in-out;
$shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
// $linear:
// ********************************** //
header {
  width: 100%;
  height: 80px;
  display: flex;
  background: $white;
  box-shadow: $shadow;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  nav {
    height: 100%;
    position: static !important;
    .logo {
      flex: 1;
      img {
        height: 58px;
      }
    }
    ul {
      display: flex;
      justify-content: center;
      flex: 3;
      li {
        padding: 0 20px;
        button {
          @include clearInput();
          font-weight: 700;
          color: $main;
          font-size: 14px;
          &::after {
            content: "\f107";
            font-family: "Font Awesome 6 pro";
            position: absolute;
            top: 50%;
            transform: translateY(-45%);
            left: -16px;
          }
        }
        a {
          font-weight: 700;
          color: $main;
          font-size: 14px;
          position: relative;
          transition: $transition;
          &::after {
            content: '';
            position: absolute;
            right: -10px;
            top: 50%;
            width: 6px;
            height: 6px;
            border-radius: 50%;
            opacity: 0;
            transform: translateY(-20%) scale(0);
            background: linear-gradient(to right, #191936, #1d70b7);
            transition: $transition;
          }
          &.active,
          &:hover {
            color: $second;
            &::after {
              opacity: 1;
              transform: translateY(-20%) scale(1);
            }
          }
        }
        .dropdown-menu {
          border: 0;
          box-shadow: $shadow;
          li {
            padding: 0 4px;
            a {
              color: $main;
              font-weight: 600 !important;
              font-size: 14px !important;
              text-align: start;
              &:hover {
                background: none;
              }
              &::after {
                right: 4px;
              }
            }
          }
        }
        &.bttns{
          display: none;
          @media (max-width: 992px) {
            display: block;
          }
        }
      }
      @media (max-width: 992px) {
        position: absolute;
        top: 80px;
        right: -50%;
        width: 50%;
        background: $white;
        flex-direction: column;
        height: calc(100vh - 80px);
        justify-content: flex-start;
        padding: 32px 0;
        li {
          padding: 8px 24px;
          button::after {
            left: 12px;
          }
          .dropdown-menu {
            height: auto;
            a {
              text-align: start !important;
            }
          }
        }
        transition: $transition;
        &.show {
          right: 0;
        }
      }
    }
    .btns {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      gap: 8px;
      @media (max-width: 992px) {
        display: none;
      }
      a {
        padding: 0 12px;
        font-size: 12px;
        font-weight: 400;
        border-radius: 4px;
        &:first-child {
          border: 1px solid $main;
          color: $main;
        }
        &:nth-child(2) {
          background: linear-gradient(to right, #191936, #1d70b7);
          color: $white;
        }
      }
    }
    .menu-btn {
      cursor: pointer;
      width: 30px;
      height: 30px;
      display: none;
      z-index: 2;
      flex: 1;
      @media (max-width: 992px) {
        @include centerFlex();
        justify-content: flex-end;
      }
      .menu-bar {
        position: relative;
        height: 2px;
        width: 28px;
        background-color: $main;
        transition: 0.5s ease;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -9px;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: $main;
          transition: 0.5s ease;
        }
        &::after {
          content: "";
          display: block;
          position: absolute;
          bottom: -9px;
          left: 0;
          height: 2px;
          width: 100%;
          background-color: $main;
          transition: 0.5s ease;
        }
        &.menu-transform {
          background-color: transparent;
          transform: rotate(90deg);
          &::before {
            -webkit-transform: translate(0px, 10px) rotate(135deg);
            transform: translate(0px, 9px) rotate(135deg);
          }
          &::after {
            -webkit-transform: translate(0px, -10px) rotate(-135deg);
            transform: translate(0px, -9px) rotate(-135deg);
          }
        }
      }
    }
  }
}
main {
  min-height: 100vh;
  .hero {
    width: 100%;
    height: 100vh;
    position: relative;
    @media (max-width: 768px) {
      height: 110vh;
    }
    .video_wrapper {
      width: 100%;
      height: 100%;
      position: relative;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &::after {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          rgba(23, 23, 51, 0.922),
          rgba(23, 23, 51, 0.65)
        );
      }
    }
    .container {
      @include centerAbsolute();
      transform: translate(-50%, -35%);
      @include centerFlex();
      flex-direction: column;
      .text {
        h1 {
          font-weight: 700;
          color: $white;
          text-align: center;
          @media (max-width: 576px) {
            font-size: 24px;
          }
        }
        p {
          text-align: center;
          color: $white;
          @media (max-width: 576px) {
            font-size: 14px;
          }
        }
      }
      .find_worker {
        width: min(850px, 100%);
        form {
          width: 100%;
          padding: 16px;
          border-radius: 8px;
          background: $white;
          margin-top: 32px;
          display: flex;
          align-items: flex-end;
          gap: 16px;
          @media (max-width: 768px) {
            flex-direction: column;
            gap: 12px;
          }
          .field {
            display: flex;
            width: 100%;
            flex-direction: column;
            flex: 2;
            label {
              font-weight: 700;
              font-size: 12px;
              color: $main;
            }
            .bootstrap-select {
              direction: rtl !important;
              width: 100% !important;
            }
          }
          .recruit {
            height: 40px;
            border-radius: 4px;
            outline: none;
            border: none;
            cursor: pointer;
            background: linear-gradient(to right, #191936, #1d70b7);
            color: $white;
            flex: 1;
            padding: 0 8px;
            @media (max-width: 768px) {
              padding: 4px 12px;
            }
          }
        }
      }
    }
  }
  .about {
    padding: 60px 12px;
    background: $white;
    background-image: url('../images/bg-pattern-1.png');
    background-position: top left;
    background-repeat: no-repeat;
    .img {
      border-radius: 50% 50% 0 0;
      height: 100%;
      overflow: hidden;
      box-shadow: $shadow;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      .bun {
        position: absolute;
        top: 32px;
        left: 0;
        padding: 16px;
        border-radius: 4px;
        width: 220px;
        border: 2px solid $white;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        h6 {
          margin: 0;
          font-weight: 600;
          color: $main;
        }
      }
    }
    .about_text {
      padding: 24px 0 0;
      h2 {
        font-size: 22px;
        font-weight: 700;
        color: $main;
        display: flex;
        gap: 8px;
        span {
          min-width: 32px;
          height: 32px;
          border-radius: 50%;
          background-color: $second10;
          @include centerFlex();
          i {
            font-size: 16px;
            color: $main;
          }
        }
      }
      p {
        color: $text;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 24px;
      }
      li {
        display: flex;
        align-items: center;
        gap: 4px;
        color: $text;
        font-size: 14px;
        line-height: 24px;
        p {
          margin: 0;
        }
      }
    }
  }
  .popular_service {
    background: $second10;
    padding: 60px 12px;
    h2 {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      color: $main;
      margin-bottom: 48px;
    }
    .service {
      width: 100%;
      height: 100%;
      padding: 24px;
      box-shadow: $shadow;
      background: $white;
      border-radius: 8px;
      gap: 10px;
      transition: $transition;
      img {
        height: 48px;
      }
      h6 {
        color: $main;
        font-size: 16px;
        margin: 12px 0 4px;
        font-weight: 700;
      }
      p {
        font-size: 14px;
        color: $text;
        line-height: 24px;
      }
      &:hover {
        transform: translateY(-8px);
      }
    }
  }
  .countries {
    padding: 60px 12px;
    background: #fff;
    background-image: url(../images/world-map.webp);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    @media (max-width: 768px) {
      background-size: cover;
    }
    .title {
      @include centerFlex();
      flex-direction: column;
      margin-bottom: 48px;
      gap: 8px;
      h2 {
        font-size: 36px;
        color: $main;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        color: $main;
      }
    }
    .country {
      padding: 16px;
      border: 2px solid $white;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.2);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(3px);
      -webkit-backdrop-filter: blur(5px);
      @include centerFlex();
      flex-direction: column;
      gap: 12px;
      .img {
        height: 64px;
        width: 64px;
        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      h3 {
        font-size: 24px;
        font-weight: 700;
        color: $main;
        margin: 0;
      }
      a {
        color: $white;
        background: $second;
        width: 80%;
        font-size: 14px;
        padding: 4px 0;
        text-align: center;
        border-radius: 8px;
        transition: $transition;
        &:hover {
          background: $main;
        }
        @media (max-width: 576px) {
          width: 100%;
          font-size: 12px;
        }
      }
    }
  }
  .statistics {
    padding: 60px 12px;
    h2 {
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      color: $main;
      margin-bottom: 48px;
    }
    .statics {
      padding: 24px 16px;
      background: $white;
      box-shadow: $shadow;
      border-radius: 8px;
      position: relative;
      @include centerFlex();
      gap: 8px;
      flex-direction: column;
      transition: $transition;
      overflow: hidden;
      isolation: isolate;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 0;
        transition: $transition;
        background: linear-gradient(to right, #191936, #1d70b7);
      }
      i {
        font-size: 48px;
        color: $second;
        transition: $transition;
        z-index: 1;
      }
      h3 {
        z-index: 1;
        margin: 0;
        font-weight: 700;
        font-size: 28px;
        transition: $transition;
      }
      h4 {
        z-index: 1;
        font-size: 14px;
        color: $main;
        font-weight: 700;
        transition: $transition;
      }
      &:hover {
        &::after {
          opacity: 1;
        }
        transform: translateY(-6px);
        h3,
        h4,
        i {
          color: $white;
        }
      }
    }
  }
  .howitworks {
    padding: 60px 12px;
    background: $white;
    .title {
      @include centerFlex();
      flex-direction: column;
      margin-bottom: 48px;
      gap: 8px;
      h2 {
        font-size: 32px;
        color: $main;
        font-weight: 700;
        margin-bottom: 0;
      }
      p {
        color: $main;
      }
    }
    .allSteps {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding: 20px 0px;
      text-align: center;
      position: relative;
      isolation: isolate;
      @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
      }
      &::before {
        content: "";
        width: 100%;
        height: 1px;
        background: $second;
        position: absolute;
        top: 50%;
        left: 0;
        @media (max-width: 768px) {
          display: none;
        }
      }
      .step {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
        height: 180px;
        width: 100%;
        gap: 16px;
        @media (max-width: 768px) {
          height: 140px;
          margin: 32px 0 !important;
        }
        .step_num {
          position: absolute;
          bottom: -16px;
          span {
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: $second;
            color: $white;
            @include centerFlex();
          }
        }
        .text {
          h6 {
            color: $text;
            font-size: 14px;
          }
        }
        .icon {
          min-width: 64px;
          min-height: 64px;
          border-radius: 50%;
          @include centerFlex();
          box-shadow: $shadow;
          background: linear-gradient(12deg, #191936, #1d5eb7);
          img {
            height: 36px;
          }
        }
        &:nth-child(even) {
          margin-top: 180px;
          padding-bottom: 0px;
          justify-content: flex-end;
          @media (max-width: 768px) {
            justify-content: flex-start;
            margin-top: 0;
          }
          .step_num {
            top: -16px;
            bottom: initial;
            @media (max-width: 768px) {
              bottom: -16px;
              top: initial;
            }
          }
        }
      }
    }
  }
  .page_header {
    width: 100%;
    height: calc(40vh);
    background: #f8fafc;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    background-image: url(../images/bg-pattern-1.png);
    background-repeat: no-repeat;
    h1 {
      color: $main;
      font-size: 32px;
      font-weight: 600;
      margin-bottom: 8px;
    }
    h6 {
      font-size: 14px;
      color: $main;
      a {
        color: $second;
      }
    }
  }
  .contact_section {
    padding: 60px 12px;
    form {
      padding: 42px 12px;
      background: $white;
      box-shadow: $shadow;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 48px;
      @media (max-width: 576px) {
        padding: 32px 0;
      }
      .form-group {
        display: flex;
        width: 100%;
        @media (max-width: 768px) {
          flex-direction: column;
          gap: 48px;
        }
        .inputfield {
          width: 100%;
          padding: 0 16px;
          position: relative;
          display: flex;
          flex-direction: column;
          label {
            position: absolute;
            font-size: 14px;
            color: $text;
            right: 16px;
            transform: translateY(-50%);
            top: 50%;
            font-weight: 500;
            transition: $transition;
            cursor: auto;
            &.message-label {
              top: 20%;
            }
            &.h {
              top: -4px;
              color: $main;
            }
          }
          input,
          textarea {
            width: 100%;
            direction: rtl;
            height: 45px;
            @include clearInput();
            &:focus + span::after {
              width: calc(100% - 32px);
            }
          }
          textarea {
            padding: 16px 0;
            height: 130px;
          }
          .highlight {
            width: 100%;
            height: 2px;
            background: #eeeeee;
            &::after {
              content: "";
              width: 0;
              transition: $transition;
              left: 50%;
              height: 2px;
              background: $main;
              position: absolute;
              transform: translate(-50%);
            }
          }
        }
      }
      button {
        @include clearInput();
        align-self: flex-end;
        margin-left: 16px;
        isolation: isolate;
        padding: 0 16px;
        width: 140px;
        height: 50px;
        border: 1px solid $second;
        color: $second;
        border-radius: 4px;
        @include centerFlex();
        position: relative;
        overflow: hidden;
        transition: $transition;
        i {
          transform: scaleX(-1);
          margin-right: 4px;
        }
        &::after {
          position: absolute;
          content: "";
          height: 150px;
          width: 0;
          right: 10px;
          transition: $transition;
          background: $main;
          transform: rotate(-25deg);
          z-index: -1;
        }
        &:hover {
          color: $white;
          border-color: $main;
          &::after {
            width: 110%;
            right: -10px;
          }
        }
      }
    }
    .contact_info {
      width: 100%;
      height: 100%;
      background: $white;
      box-shadow: $shadow;
      border-radius: 8px;
      padding: 24px;
      h3 {
        font-size: 22px;
        color: $main;
        font-weight: 600;
        margin-bottom: 32px;
      }
      h5 {
        font-size: 22px;
        color: $main;
        font-weight: 600;
        margin-bottom: 8px;
      }
      p {
        color: $text;
        font-size: 14px;
        line-height: 22px;
      }
      .field {
        width: 100%;
        display: flex;
        margin-bottom: 32px;
        gap: 16px;
        align-items: center;
        .icon {
          min-width: 64px;
          height: 64px;
          border-radius: 50%;
          border: 1px solid $main;
          overflow: hidden;
          isolation: isolate;
          position: relative;
          @include centerFlex();
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            z-index: 0;
            transition: $transition;
            background: linear-gradient(to right, #191936, #1d70b7);
          }
          i {
            font-size: 24px;
            color: $main;
            z-index: 1;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          h4 {
            margin-bottom: 4px;
            color: $main;
            font-size: 18px;
          }
          a {
            color: $text;
          }
        }
        &:hover {
          .text a {
            color: $main;
          }
          .icon {
            border-color: transparent;
            i {
              color: $white;
            }
            &::after {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .exploreCVs {
    padding: 60px 12px;
    .small-filter-header {
      width: 100%;
      @include space-between();
      display: none;
      padding: 0 2px;
      h6 {
        color: $main;
        margin: 0;
      }
      button {
        @include clearInput();
        @include centerFlex();
        box-shadow: $shadow;
        background: $second30;
        padding: 8px;
        border-radius: 8px;
        i {
          font-size: 18px;
          color: $main;
        }
      }
      @media (max-width: 992px) {
        display: flex;
      }
    }
    .exploreFilter {
      padding: 24px 16px;
      background: $white;
      box-shadow: $shadow;
      border-radius: 8px;
      position: sticky;
      top: 100px;
      .head {
        @include space-between();
        h3 {
          font-size: 18px;
          color: $main;
          margin-bottom: 8px;
        }
        .colse {
          display: none;
          cursor: pointer;
          i {
            font-size: 24px;
            color: $main;
          }
        }
      }
      .deps {
        display: flex;
        align-items: center;
        gap: 12px;
        label {
          cursor: pointer;
          isolation: isolate;
          @include centerFlex();
          flex-direction: column;
          position: relative;
          border-radius: 4px;
          padding: 8px 12px;
          h6 {
            font-size: 14px;
            color: $main;
            margin: 0;
            white-space: nowrap;
          }
          input {
            z-index: -1;
            position: absolute;
            left: 0 !important;
            cursor: pointer;
            top: 0;
            width: 100%;
            appearance: none;
            background: none;
            height: 100%;
            border-radius: 4px;
            border: 2px solid $second30;
            background: #fafafa;
            transition: all .3s ease-in-out;
            &:checked {
              border-color: $second;
              background: $second30;
            }
          }
        }
      }
      form {
        display: flex;
        gap: 24px;
        flex-direction: column;
        .field {
          display: flex;
          width: 100%;
          flex-direction: column;
          flex: 2;
          .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
            font-size: 14px !important;
          }
          label {
            font-weight: 700;
            font-size: 12px;
            color: $main;
          }
          .bootstrap-select {
            direction: rtl !important;
            width: 100% !important;
          }
        }
        .apply {
          @include clearInput();
          background: $second;
          border-radius: 4px;
          padding: 4px;
          color: $white;
          transition: $transition;
          &:hover {
            background: $main;
          }
        }
      }
      @media (max-width: 992px) {
        display: block;
        position: fixed;
        top: 100%;
        z-index: 9999;
        overflow-y: scroll;
        width: 100%;
        background: $white;
        left: 0;
        transition: $transition;
        height: 100vh;
        padding: 32px 24px !important;
        .head .colse {
          display: block;
        }
        &::-webkit-scrollbar {
          display: none;
        }
        &.active {
          top: 0;
        }
      }
    }
    .paginations {
      margin-top: 24px;
      @include centerFlex();
      gap: 16px;
      .paginations_btn {
        width: 32px;
        cursor: pointer;
        height: 32px;
        background: $second;
        color: $white;
        @include centerFlex();
        border-radius: 2px;
        transition: $transition;
        &:hover {
          background: $main;
          box-shadow: $shadow;
        }
        &.disabled {
          opacity: .5;
          pointer-events: none;
        }
      }
      ul {
        display: flex;
        li {
          padding: 0 16px;
          span {
            font-size: 16px;
            columns: $main;
            cursor: pointer;
          }
        }
      }
    }
    .select_cutomer_services {
      width: 100%;
      padding: 24px 16px;
      background: $white;
      box-shadow: $shadow;
      border-radius: 8px;
      h3 {
        font-size: 20px;
        font-weight: 700;
        color: $main;
        margin-bottom: 8px;
      }
      p {
        font-size: 14px;
        line-height: 24px;
        color: $text;
      }
      .agents {
        margin: 24px 0 16px;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
        label {
          cursor: pointer;
          isolation: isolate;
          @include centerFlex();
          flex-direction: column;
          position: relative;
          border-radius: 4px;
          padding: 8px 12px;
          min-width: 126px;
          .agent {
            width: 100%;
            @include centerFlex();
            flex-direction: column;
            gap: 8px;
            img {
              height: 64px;
            }
            h6 {
              font-size: 14px;
              color: $main;
              margin: 0;
              white-space: nowrap;
            }
          }
          input {
            z-index: -1;
            position: absolute;
            left: 0 !important;
            cursor: pointer;
            top: 0;
            width: 100%;
            appearance: none;
            background: none;
            height: 100%;
            border-radius: 4px;
            border: 2px solid $second30;
            background: #fafafa;
            transition: all .3s ease-in-out;
            &:checked {
              border-color: $second;
              background: $second30;
            }
          }
        }
      }
      button {
        width: 100%;
        @include clearInput();
        background: $second;
        color: $white;
        padding: 8px;
        border-radius: 4px;
        transition: $transition;
        &:hover {
          background: $main;
        }
      }
    }
  }
  .rentingWorkers {
    padding: 60px 12px;
    .bs-stepper-header {
      background: $white;
      box-shadow: $shadow;
      border-radius: 8px;
      .step {
        margin-bottom: 12px;
        .bs-stepper-circle {
          min-width: 48px;
          height: 48px;
          img {
            height: 32px;
          }
        }
      }
    }
    .btn-next {
      @include clearInput();
      padding: 8px 16px;
      background: $second;
      border-radius: 4px;
      color: $white;
      transition: $transition;
      &:hover {
        background: $main;
      }
    }
    .addLoation {
      padding: 8px 16px;
      @include clearInput();
      border: 1px solid $second;
      color: $second;
      border-radius: 4px;
    }
    label {
      cursor: pointer;
      isolation: isolate;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      border-radius: 8px;
      padding: 16px;
      .location {
        width: 100%;
        display: flex;
        flex-direction: column;
        h6 {
          color: $main;
          font-weight: 700;
          margin-bottom: 8px;
          font-size: 20px;
          span {
            font-size: 24px;
          }
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          li {
            color: $text;
            font-size: 14px;
            i {
              font-size: 16px;
            }
          }
        }
      }
      input {
        z-index: -1;
        position: absolute;
        left: 0 !important;
        top: 0;
        width: 100%;
        appearance: none;
        background: none;
        height: 100%;
        border-radius: 4px;
        border: 2px solid $second30;
        background: #fafafa;
        transition: all .3s ease-in-out;
        &:checked {
          border-color: $second;
          background: $second30;
        }
      }
    }
    .cv {
      box-shadow: none;
      background: #edf4fa;
    }
    .accept {
      padding: 0;
      border-radius: 0;
      flex-direction: row;
      a {
        color: $second;
        padding-right: 4px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    input[type="checkbox"] {
      width: 16px;
      appearance: none;
      position: relative;
      cursor: pointer;
      &::after {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 50%;
        content: "";
        font-family: "FontAwesome";
        width: 16px;
        height: 16px;
        border: 1px solid $second30;
        border-radius: 4px;
        font-size: 10px;
        @include centerFlex();
        color: $main;
      }
      &:checked::after {
        content: "\f00c";
        background: $second;
        color: #fff;
        border-color: $second;
      }
    }
  }
  .auth_section {
    padding: 50px 12px;
  }
  .setting_setion {
    padding: 60px 12px;
    .profile_side_bar {
      background: $white;
      box-shadow: $shadow;
      padding: 24px;
      border-radius: 8px;
      position: sticky;
      top: 100px;
      h4 {
        font-size: 22px;
        color: $main;
        margin-bottom: 4px;
        font-weight: 700;
      }
      span {
        color: $second;
      }
      .links {
        margin-top: 24px;
        li {
          padding: 8px 16px;
          margin-bottom: 8px;
          cursor: pointer;
          border-radius: 4px;
          transition: .4s ease-in-out;
          a {
            color: $main;
            transition: .4s ease-in-out;
            font-size: 14px;
            display: flex;
            align-items: center;
            gap: 8px;
          }
          &:last-child {
            a {
              color: red;
            }
          }
          &:hover,
          &.active {
            background: $second;
            a {
              color: $white;
            }
          }
        }
      }
    }
    .notification {
      width: 100%;
      padding: 12px 16px;
      background: $white;
      box-shadow: $shadow;
      margin-bottom: 20px;
      border-radius: 8px;
      p {
        font-size: 16px;
        color: $main;
        font-weight: 600;
      }
    }
    .orders {
      .nav {
        background: $second;
        width: min(100%, 460px);
        padding: 8px;
        border-radius: 8px;
        li {
          width: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            width: 100%;
            color: $white;
            &:hover {
              color: $white;
            }
            &.active {
              background: $white;
              color: $second;
              &:hover {
                color: $second;
              }
            }
          }
        }
      }
      .order_card {
        padding: 16px;
        background: $white;
        box-shadow: $shadow;
        border-radius: 8px;
        height: 100%;
        h4 {
          font-size: 20px;
          font-weight: 700;
        }
        .title {
          display: flex;
          justify-content: space-between;
          p {
            color: $second;
            font-size: 18px;
            font-weight: 700;
          }
          a {
            color: $second;
            font-size: 14px;
          }
        }
        .pro {
          display: flex;
          flex-direction: column;
          gap: 4px;
          margin-bottom: 8px;
          .progress {
            height: 8px;
            background: $second30;
            .progress-bar {
              background: $second;
            }
          }
          .staus {
            p {
              margin: 0;
              color: $main;
              font-size: 14px;
              color: $text;
            }
          }
        }
        .time {
          color: $text;
          font-size: 12px;
        }
      }
    }
    .order_status {
      padding: 24px 0;
      display: flex;
      flex-direction: column;
      gap: 12px;
      .progress_state {
        @include space-between();
        gap: 12px;
        h4 {
          margin: 0;
          color: $main;
          font-size: 18px;
          font-weight: 700;
        }
        h6 {
          font-size: 14px;
          margin: 0;
          color: $main;
          font-weight: 700;
          span{
            font-size: 18px;
            color: $second;
          }
        }
        .icon {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          @include centerFlex();
          color: $white;
          font-size: 24px;
          background: linear-gradient(12deg, #191936, #1d5eb7);
        }
      }
      .progress,
      .progress-stacked {
        height: 8px;
        background: $second30;
        .progress-bar {
          background: $second;
        }
      }
    }
  }
  .faqs {
    padding: 30px 12px;
    .faqs-content {
      padding-top: 60px;
      h3 {
        font-size: 24px;
        color: $second;
        font-weight: 600;
        margin-bottom: 28px;
        i {
          transform: scaleX(-1);
        }
      }
    }
    .accordion-button {
      text-align: inherit;
      color: $main;
      font-size: 16px;
      font-weight: 600;
      padding: 16px 0;
      &:focus {
        outline: none !important;
        border: none !important;
        box-shadow: none !important;
      }
      &::after {
        content: '\f107';
        font-family: 'Font Awesome 6 pro';
        background: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        transform: none;
        margin-right: auto;
        margin-left: 0;
      }
      &:not(.collapsed) {
        background: none !important;
        box-shadow: none !important;
        color: $second;
        background: none !important;
        &::after {
          content: '\f106';
        }
      }
    }
    .accordion-body {
      padding: 16px 0 !important;
    }
    .accordion-item {
      border-top: 0 !important;
      border-right: 0 !important;
      border-left: 0 !important;
      border-bottom: 1px solid #eee !important;
      border-radius: 0 !important;
      p {
        font-size: 14px;
        color: $text;
      }
      &:last-child {
        border-bottom: 0 !important;
      }
    }
  }
  .terms {
    padding: 60px 12px;
    h3{
      color: $main;
      font-weight: 700;
      font-size: 24px;
    }
    p {
      font-size: 14px;
      color: $text;
      line-height: 24px;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      li {
        h2 {
          font-size: 18px;
          font-weight: 700;
          color: $second;
        }
      }
    }
  }
}
.cv {
  width: 100%;
  box-shadow: $shadow;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
  .cv_details {
    display: flex;
    gap: 32px;
    @media (max-width: 576px) {
      gap: 24px;
    }
    .img {
      width: 100%;
      flex: 2;
      img {
        width: 100%;
        height: 100%;
        aspect-ratio: 3 / 2;
        object-fit: contain;
        object-position: top;
      }
    }
    .info {
      flex: 3;
      ul {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 50%;
          span {
            font-size: 14px;
            @media (max-width: 576px) {
              font-size: 12px;
            }
          }
          h3 {
            font-size: 18px;
            font-weight: 700;
            color: $main;
            @media (max-width: 576px) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
  .button a {
    width: 100%;
    @include centerFlex();
    padding: 8px;
    color: $white;
    background: $second;
    border-radius: 4px;
    transition: $transition;
    &:hover {
      background: $main;
    }
    &.whatsapp {
      background: #c4e7c0;
      color: #139d03;
      i {
        margin-right: 4px;
      }
      &:hover {
        background: #139d03;
        color: $white;
      }
    }
  }
}
footer {
  padding: 60px 12px 16px;
  background: linear-gradient(12deg, #191936, #1d5eb7);
  .logo {
    img {
      height: 120px;
    }
  }
  p {
    color: $white;
    font-weight: 40;
    line-height: 24px;
    margin-top: 24px;
  }
  .social {
    display: flex;
    margin-top: 16px;
    gap: 12px;
    a {
      width: 40px;
      height: 40px;
      @include centerFlex();
      background: $white;
      border-radius: 50%;
      transition: $transition;
      i {
        color: $main;
      }
      &:hover {
        transform: translateY(-4px);
      }
    }
  }
  .footer_head {
    color: $white;
  }
  .footer_head_after {
    width: 130px;
    height: 4px;
    background: $white;
    position: relative;
    display: block;
    border-radius: 2px;
    &::after {
      position: absolute;
      left: 0;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: '';
      background: $white;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .links {
    margin-top: 24px;
    li {
      margin-bottom: 4px;
      a {
        color: $white;
        position: relative;
        transition: $transition;
        &::after {
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%) scale(0);
          content: '';
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: $white;
          opacity: 0;
          transition: $transition;
        }
        &:hover {
          padding-right: 16px;
          &::after {
            transform: translateY(-50%) scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
  .links_contact {
    margin-top: 24px;
    li {
      margin-bottom: 8px;
      i,
      b,
      a {
        color: $white;
      }
      i {
        margin-left: 8px;
      }
      b {
        font-size: 14px;
      }
    }
  }
  .copy {
    margin-top: 32px;
    padding-top: 16px;
    border-top: 1px solid $white;
    @include centerFlex();
    p {
      margin: 0;
    }
  }
}
.confirm_model {
  @include centerFlex();
  flex-direction: column;
  gap: 12px;
  img {
    height: 130px;
  }
  p {
    line-height: 26px;
    color: $text;
    text-align: center;
  }
  a {
    width: 100% !important;
    @include centerFlex();
    padding: 8px;
    transition: $transition;
    color: $white;
    border-radius: 4px;
    &.whatsapp {
      background: #c4e7c0;
      color: #139d03;
      i {
        margin-right: 4px;
      }
      &:hover {
        background: #139d03;
        color: $white;
      }
    }
    &.phone {
      background: $second30;
      color: $main;
      i {
        margin-right: 4px;
      }
      &:hover {
        background: $second;
        color: $white;
      }
    }
  }
}
.add_location {
  .form-group {
    display: flex;
    flex-direction: column;
    label {
      color: $main;
      font-size: 14px;
      font-weight: 600;
    }
    input {
      outline: none;
      border: none;
      background: #eee;
      border-radius: 4px;
      height: 48px;
      padding: 0 12px;
      font-size: 14px;
    }
    textarea {
      outline: none;
      border: none;
      background: #eee;
      border-radius: 4px;
      height: 120px;
      padding: 8px 12px;
      font-size: 14px;
    }
    button {
      outline: none;
      border: none;
      width: 100%;
      padding: 8px;
      background: $second;
      border-radius: 4px;
      transition: $transition;
      color: $white;
      &:hover {
        background: $main;
      }
    }
  }
}
.payModal {
  ul {
    display: flex;
    flex-direction: column;
    gap: 12px;
    label {
      cursor: pointer;
      isolation: isolate;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      position: relative;
      border-radius: 8px;
      padding: 16px;
      .paymethod {
        width: 100%;
        @include space-between();
        h6 {
          color: $main;
          font-weight: 600;
          margin-bottom: 0;
          font-size: 18px;
        }
      }
      input {
        z-index: -1;
        position: absolute;
        left: 0 !important;
        top: 0;
        width: 100%;
        appearance: none;
        background: none;
        height: 100%;
        border-radius: 4px;
        border: 2px solid $second30;
        background: #fafafa;
        transition: all .3s ease-in-out;
        &:checked {
          border-color: $second;
          background: $second30;
        }
      }
    }
  }
  button {
    outline: none;
    border: none;
    width: 100%;
    padding: 8px;
    background: $second;
    border-radius: 4px;
    transition: $transition;
    color: $white;
    &:hover {
      background: $main;
    }
  }
}
.auth_form {
  background: $white;
  box-shadow: $shadow;
  padding: 36px 24px 24px;
  border-radius: 8px;
  @include centerFlex();
  flex-direction: column;
  h2 {
    font-size: 24px;
    font-weight: 600;
    color: $main;
    margin-bottom: 4px;
  }
  p {
    margin-bottom: 24px;
    text-align: center;
    line-height: 24px;
    span {
      color: $second;
    }
  }
  .input_filed {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 16px;
    position: relative;
    label {
      font-size: 14px;
      color: $main;
      font-weight: 600;
    }
    input {
      width: 100%;
      height: 56px;
      background: #eee;
      outline: none;
      border: none;
      border-radius: 4px;
      padding: 0 16px;
    }
    #phone {
      padding: 0 64px;
      @media (max-width: 768px) {
        padding: 0 54px;
      }
    }
    #password {
      border-radius: 0 4px 4px 0;
    }
    .showPas {
      min-width: 48px;
      @include clearInput();
      background: #eee;
      border-radius: 4px 0 0 4px;
      color: $text;
    }
    .phone_code {
      width: 70px;
      height: 56px;
      background: #eee;
      border-radius: 4px;
      @include centerFlex();
      img {
        height: 24px;
      }
    }
    &.phone {
      &::after {
        content: '+996';
        position: absolute;
        top: 48px;
        left: 90px;
        color: $main;
        font-weight: 600;
        @media (max-width: 768px) {
          left: 80px;
        }
        @media (max-width: 576px) {
          left: 70px;
        }
      }
    }
  }
  a {
    color: $second;
    transition: $transition;
    &:hover {
      color: $main;
    }
  }
  .log {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    @include clearInput();
    background: $second;
    color: $white;
    margin: 12px 0;
    transition: $transition;
    &:hover {
      background: $main;
    }
  }
  p {
    margin: 0;
  }
  .otp-container {
    width: 100%;
    @include space-between();
    padding: 32px 0 24px;
    direction: ltr !important;
    .otp-input {
      border-radius: 4px;
      width: 80px;
      direction: ltr !important;
      @media (max-width: 576px) {
        width: 48px;
        height: 48px;
      }
      height: 60px;
      text-align: center;
      background: $second30;
      font-size: 24px;
      font-weight: 800;
      color: $second;
      outline: none;
      border: none;
      &::-webkit-inner-spin-button {
        display: none;
      }
    }
  }
}
.ppackage,
.llocation {
  background: #f6f6f6;
  width: 100%;
  border-radius: 8px;
  height: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  h6 {
    color: $main;
    font-weight: 700;
    margin-bottom: 8px;
    font-size: 20px;
    span {
      font-size: 24px;
    }
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      color: $text;
      font-size: 14px;
      i {
        font-size: 16px;
      }
    }
  }
}
.cta {
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  p {
    font-size: 12px;
    color: $text;
    line-height: normal;
  }
  .btns {
    gap: 8px;
    display: flex;
    a {
      width: 40px;
      height: 40px;
      border-radius: 2px;
      @include centerFlex();
      background: $second30;
      color: $second;
      font-size: 18px;
      &.whatsapp {
        background: #c4e7c0;
        color: #139d03;
      }
    }
  }
}
// @override
.dropdown-item.active,
.dropdown-item:active {
  background: $second;
}
.btn-default {
  border: 1px solid #eee !important;
}
.bootstrap-select.dropup .dropdown-toggle:after {
  transform: rotate(-45deg) translateY(-50%);
  height: 0.5em;
  width: 0.5em;
}
.dropdown-menu.show {
  width: fit-content;
}
.modal {
  backdrop-filter: blur(4px);
}
