@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;500;600;700;800;900;1000&display=swap");
* {
  margin: 0;
  padding: 0;
  line-height: 32px;
  direction: rtl;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Cairo", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

body {
  overflow-x: hidden;
  position: relative;
  background: #fff !important;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

button,
a {
  color: #000;
}

.fancybox__container {
  z-index: 9999999999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
}
header nav {
  height: 100%;
  position: static !important;
}
header nav .logo {
  flex: 1;
}
header nav .logo img {
  height: 58px;
}
header nav ul {
  display: flex;
  justify-content: center;
  flex: 3;
}
header nav ul li {
  padding: 0 20px;
}
header nav ul li button {
  border: none;
  background: none;
  outline: none;
  font-weight: 700;
  color: #191936;
  font-size: 14px;
}
header nav ul li button::after {
  content: "\f107";
  font-family: "Font Awesome 6 pro";
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  left: -16px;
}
header nav ul li a {
  font-weight: 700;
  color: #191936;
  font-size: 14px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(-20%) scale(0);
  background: linear-gradient(to right, #191936, #1d70b7);
  transition: all 0.4s ease-in-out;
}
header nav ul li a.active, header nav ul li a:hover {
  color: #1d70b7;
}
header nav ul li a.active::after, header nav ul li a:hover::after {
  opacity: 1;
  transform: translateY(-20%) scale(1);
}
header nav ul li .dropdown-menu {
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header nav ul li .dropdown-menu li {
  padding: 0 4px;
}
header nav ul li .dropdown-menu li a {
  color: #191936;
  font-weight: 600 !important;
  font-size: 14px !important;
  text-align: start;
}
header nav ul li .dropdown-menu li a:hover {
  background: none;
}
header nav ul li .dropdown-menu li a::after {
  right: 4px;
}
@media (max-width: 992px) {
  header nav ul {
    position: absolute;
    top: 80px;
    right: -50%;
    width: 50%;
    background: #fff;
    flex-direction: column;
    height: calc(100vh - 80px);
    justify-content: flex-start;
    padding: 32px 0;
    transition: all 0.4s ease-in-out;
  }
  header nav ul li {
    padding: 8px 24px;
  }
  header nav ul li button::after {
    left: 12px;
  }
  header nav ul li .dropdown-menu {
    height: auto;
  }
  header nav ul li .dropdown-menu a {
    text-align: start !important;
  }
  header nav ul.show {
    right: 0;
  }
}
header nav .btns {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
@media (max-width: 992px) {
  header nav .btns {
    display: none;
  }
}
header nav .btns a {
  padding: 0 12px;
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
}
header nav .btns a:first-child {
  border: 1px solid #191936;
  color: #191936;
}
header nav .btns a:nth-child(2) {
  background: linear-gradient(to right, #191936, #1d70b7);
  color: #fff;
}
header nav .menu-btn {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: none;
  z-index: 2;
  flex: 1;
}
@media (max-width: 992px) {
  header nav .menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: flex-end;
  }
}
header nav .menu-btn .menu-bar {
  position: relative;
  height: 2px;
  width: 28px;
  background-color: #191936;
  transition: 0.5s ease;
}
header nav .menu-btn .menu-bar::before {
  content: "";
  display: block;
  position: absolute;
  top: -9px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #191936;
  transition: 0.5s ease;
}
header nav .menu-btn .menu-bar::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -9px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #191936;
  transition: 0.5s ease;
}
header nav .menu-btn .menu-bar.menu-transform {
  background-color: transparent;
  transform: rotate(90deg);
}
header nav .menu-btn .menu-bar.menu-transform::before {
  transform: translate(0px, 9px) rotate(135deg);
}
header nav .menu-btn .menu-bar.menu-transform::after {
  transform: translate(0px, -9px) rotate(-135deg);
}

main {
  min-height: 100vh;
}
main .hero {
  width: 100%;
  height: 100vh;
  position: relative;
}
@media (max-width: 768px) {
  main .hero {
    height: 120vh;
  }
}
main .hero .video_wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
main .hero .video_wrapper video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero .video_wrapper::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(23, 23, 51, 0.922), rgba(23, 23, 51, 0.65));
}
main .hero .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: translate(-50%, -35%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .hero .container .text h1 {
  font-weight: 700;
  color: #fff;
  text-align: center;
}
@media (max-width: 576px) {
  main .hero .container .text h1 {
    font-size: 24px;
  }
}
main .hero .container .text p {
  text-align: center;
  color: #fff;
}
@media (max-width: 576px) {
  main .hero .container .text p {
    font-size: 14px;
  }
}
main .hero .container .find_worker {
  width: min(850px, 100%);
}
main .hero .container .find_worker form {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  margin-top: 32px;
  display: flex;
  align-items: flex-end;
  gap: 16px;
}
@media (max-width: 768px) {
  main .hero .container .find_worker form {
    flex-direction: column;
    gap: 12px;
  }
}
main .hero .container .find_worker form .field {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 2;
}
main .hero .container .find_worker form .field label {
  font-weight: 700;
  font-size: 12px;
  color: #191936;
}
main .hero .container .find_worker form .field .bootstrap-select {
  direction: rtl !important;
  width: 100% !important;
}
main .hero .container .find_worker form .recruit {
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #191936, #1d70b7);
  color: #fff;
  flex: 1;
  padding: 0 8px;
}
@media (max-width: 768px) {
  main .hero .container .find_worker form .recruit {
    padding: 4px 12px;
  }
}
main .about {
  padding: 60px 12px;
  background: #fff;
  background-image: url("../images/bg-pattern-1.png");
  background-position: top left;
  background-repeat: no-repeat;
}
main .about .img {
  border-radius: 50% 50% 0 0;
  height: 100%;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
main .about .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .about .img .bun {
  position: absolute;
  top: 32px;
  left: 0;
  padding: 16px;
  border-radius: 4px;
  width: 220px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
main .about .img .bun h6 {
  margin: 0;
  font-weight: 600;
  color: #191936;
}
main .about .about_text {
  padding: 24px 0 0;
}
main .about .about_text h2 {
  font-size: 22px;
  font-weight: 700;
  color: #191936;
  display: flex;
  gap: 8px;
}
main .about .about_text h2 span {
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #fbfdfe;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .about .about_text h2 span i {
  font-size: 16px;
  color: #191936;
}
main .about .about_text p {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 24px;
}
main .about .about_text li {
  display: flex;
  align-items: center;
  gap: 4px;
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}
main .about .about_text li p {
  margin: 0;
}
main .popular_service {
  background: #fbfdfe;
  padding: 60px 12px;
}
main .popular_service h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #191936;
  margin-bottom: 48px;
}
main .popular_service .service {
  width: 100%;
  height: 100%;
  padding: 24px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: #fff;
  border-radius: 8px;
  gap: 10px;
  transition: all 0.4s ease-in-out;
}
main .popular_service .service img {
  height: 48px;
}
main .popular_service .service h6 {
  color: #191936;
  font-size: 16px;
  margin: 12px 0 4px;
  font-weight: 700;
}
main .popular_service .service p {
  font-size: 14px;
  color: #777777;
  line-height: 24px;
}
main .popular_service .service:hover {
  transform: translateY(-8px);
}
main .countries {
  padding: 60px 12px;
  background: #fff;
  background-image: url(../images/world-map.webp);
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
@media (max-width: 768px) {
  main .countries {
    background-size: cover;
  }
}
main .countries .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 48px;
  gap: 8px;
}
main .countries .title h2 {
  font-size: 36px;
  color: #191936;
  font-weight: 700;
  margin-bottom: 0;
}
main .countries .title p {
  color: #191936;
}
main .countries .country {
  padding: 16px;
  border: 2px solid #fff;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
main .countries .country .img {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  overflow: hidden;
}
main .countries .country .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .countries .country h3 {
  font-size: 24px;
  font-weight: 700;
  color: #191936;
  margin: 0;
}
main .countries .country a {
  color: #fff;
  background: #1d70b7;
  width: 80%;
  font-size: 14px;
  padding: 4px 0;
  text-align: center;
  border-radius: 8px;
  transition: all 0.4s ease-in-out;
}
main .countries .country a:hover {
  background: #191936;
}
@media (max-width: 576px) {
  main .countries .country a {
    width: 100%;
    font-size: 12px;
  }
}
main .statistics {
  padding: 60px 12px;
}
main .statistics h2 {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #191936;
  margin-bottom: 48px;
}
main .statistics .statics {
  padding: 24px 16px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  isolation: isolate;
}
main .statistics .statics::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(to right, #191936, #1d70b7);
}
main .statistics .statics i {
  font-size: 48px;
  color: #1d70b7;
  transition: all 0.4s ease-in-out;
  z-index: 1;
}
main .statistics .statics h3 {
  z-index: 1;
  margin: 0;
  font-weight: 700;
  font-size: 28px;
  transition: all 0.4s ease-in-out;
}
main .statistics .statics h4 {
  z-index: 1;
  font-size: 14px;
  color: #191936;
  font-weight: 700;
  transition: all 0.4s ease-in-out;
}
main .statistics .statics:hover {
  transform: translateY(-6px);
}
main .statistics .statics:hover::after {
  opacity: 1;
}
main .statistics .statics:hover h3,
main .statistics .statics:hover h4,
main .statistics .statics:hover i {
  color: #fff;
}
main .howitworks {
  padding: 60px 12px;
  background: #fff;
}
main .howitworks .title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 48px;
  gap: 8px;
}
main .howitworks .title h2 {
  font-size: 32px;
  color: #191936;
  font-weight: 700;
  margin-bottom: 0;
}
main .howitworks .title p {
  color: #191936;
}
main .howitworks .allSteps {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 20px 0px;
  text-align: center;
  position: relative;
  isolation: isolate;
}
@media (max-width: 768px) {
  main .howitworks .allSteps {
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
  }
}
main .howitworks .allSteps::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #1d70b7;
  position: absolute;
  top: 50%;
  left: 0;
}
@media (max-width: 768px) {
  main .howitworks .allSteps::before {
    display: none;
  }
}
main .howitworks .allSteps .step {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 180px;
  width: 100%;
  gap: 16px;
}
@media (max-width: 768px) {
  main .howitworks .allSteps .step {
    height: 140px;
    margin: 32px 0 !important;
  }
}
main .howitworks .allSteps .step .step_num {
  position: absolute;
  bottom: -16px;
}
main .howitworks .allSteps .step .step_num span {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #1d70b7;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .howitworks .allSteps .step .text h6 {
  color: #777777;
  font-size: 14px;
}
main .howitworks .allSteps .step .icon {
  min-width: 64px;
  min-height: 64px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background: linear-gradient(12deg, #191936, #1d5eb7);
}
main .howitworks .allSteps .step .icon img {
  height: 36px;
}
main .howitworks .allSteps .step:nth-child(even) {
  margin-top: 180px;
  padding-bottom: 0px;
  justify-content: flex-end;
}
@media (max-width: 768px) {
  main .howitworks .allSteps .step:nth-child(even) {
    justify-content: flex-start;
    margin-top: 0;
  }
}
main .howitworks .allSteps .step:nth-child(even) .step_num {
  top: -16px;
  bottom: initial;
}
@media (max-width: 768px) {
  main .howitworks .allSteps .step:nth-child(even) .step_num {
    bottom: -16px;
    top: initial;
  }
}
main .page_header {
  width: 100%;
  height: 40vh;
  background: #f8fafc;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url(../images/bg-pattern-1.png);
  background-repeat: no-repeat;
}
main .page_header h1 {
  color: #191936;
  font-size: 42px;
  margin-bottom: 8px;
}
main .page_header h6 {
  font-size: 14px;
  color: #191936;
}
main .page_header h6 a {
  color: #1d70b7;
}
main .contact_section {
  padding: 60px 12px;
}
main .contact_section form {
  padding: 42px 12px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (max-width: 576px) {
  main .contact_section form {
    padding: 32px 0;
  }
}
main .contact_section form .form-group {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  main .contact_section form .form-group {
    flex-direction: column;
    gap: 48px;
  }
}
main .contact_section form .form-group .inputfield {
  width: 100%;
  padding: 0 16px;
  position: relative;
  display: flex;
  flex-direction: column;
}
main .contact_section form .form-group .inputfield label {
  position: absolute;
  font-size: 14px;
  color: #777777;
  right: 16px;
  transform: translateY(-50%);
  top: 50%;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  cursor: auto;
}
main .contact_section form .form-group .inputfield label.message-label {
  top: 20%;
}
main .contact_section form .form-group .inputfield label.h {
  top: -4px;
  color: #191936;
}
main .contact_section form .form-group .inputfield input,
main .contact_section form .form-group .inputfield textarea {
  width: 100%;
  direction: rtl;
  height: 45px;
  border: none;
  background: none;
  outline: none;
}
main .contact_section form .form-group .inputfield input:focus + span::after,
main .contact_section form .form-group .inputfield textarea:focus + span::after {
  width: calc(100% - 32px);
}
main .contact_section form .form-group .inputfield textarea {
  padding: 16px 0;
  height: 130px;
}
main .contact_section form .form-group .inputfield .highlight {
  width: 100%;
  height: 2px;
  background: #eeeeee;
}
main .contact_section form .form-group .inputfield .highlight::after {
  content: "";
  width: 0;
  transition: all 0.4s ease-in-out;
  left: 50%;
  height: 2px;
  background: #191936;
  position: absolute;
  transform: translate(-50%);
}
main .contact_section form button {
  border: none;
  background: none;
  outline: none;
  align-self: flex-end;
  margin-left: 16px;
  isolation: isolate;
  padding: 0 16px;
  width: 140px;
  height: 50px;
  border: 1px solid #1d70b7;
  color: #1d70b7;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
}
main .contact_section form button i {
  transform: scaleX(-1);
  margin-right: 4px;
}
main .contact_section form button::after {
  position: absolute;
  content: "";
  height: 150px;
  width: 0;
  right: 10px;
  transition: all 0.4s ease-in-out;
  background: #191936;
  transform: rotate(-25deg);
  z-index: -1;
}
main .contact_section form button:hover {
  color: #fff;
  border-color: #191936;
}
main .contact_section form button:hover::after {
  width: 110%;
  right: -10px;
}
main .contact_section .contact_info {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  padding: 24px;
}
main .contact_section .contact_info h3 {
  font-size: 22px;
  color: #191936;
  font-weight: 600;
  margin-bottom: 32px;
}
main .contact_section .contact_info h5 {
  font-size: 22px;
  color: #191936;
  font-weight: 600;
  margin-bottom: 8px;
}
main .contact_section .contact_info p {
  color: #777777;
  font-size: 14px;
  line-height: 22px;
}
main .contact_section .contact_info .field {
  width: 100%;
  display: flex;
  margin-bottom: 32px;
  gap: 16px;
  align-items: center;
}
main .contact_section .contact_info .field .icon {
  min-width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #191936;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .contact_section .contact_info .field .icon::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  transition: all 0.4s ease-in-out;
  background: linear-gradient(to right, #191936, #1d70b7);
}
main .contact_section .contact_info .field .icon i {
  font-size: 24px;
  color: #191936;
  z-index: 1;
}
main .contact_section .contact_info .field .text {
  display: flex;
  flex-direction: column;
}
main .contact_section .contact_info .field .text h4 {
  margin-bottom: 4px;
  color: #191936;
  font-size: 18px;
}
main .contact_section .contact_info .field .text a {
  color: #777777;
}
main .contact_section .contact_info .field:hover .text a {
  color: #191936;
}
main .contact_section .contact_info .field:hover .icon {
  border-color: transparent;
}
main .contact_section .contact_info .field:hover .icon i {
  color: #fff;
}
main .contact_section .contact_info .field:hover .icon::after {
  opacity: 1;
}
main .exploreCVs {
  padding: 60px 12px;
}
main .exploreCVs .exploreFilter {
  padding: 24px 16px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 8px;
  position: sticky;
  top: 100px;
}
main .exploreCVs .exploreFilter h3 {
  font-size: 18px;
  color: #191936;
}
main .exploreCVs .exploreFilter form {
  display: flex;
  gap: 24px;
  flex-direction: column;
}
main .exploreCVs .exploreFilter form .field {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex: 2;
}
main .exploreCVs .exploreFilter form .field .bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  font-size: 14px !important;
}
main .exploreCVs .exploreFilter form .field label {
  font-weight: 700;
  font-size: 12px;
  color: #191936;
}
main .exploreCVs .exploreFilter form .field .bootstrap-select {
  direction: rtl !important;
  width: 100% !important;
}
main .exploreCVs .exploreFilter form .apply {
  border: none;
  background: none;
  outline: none;
  background: #1d70b7;
  border-radius: 4px;
  padding: 4px;
  color: #fff;
  transition: all 0.4s ease-in-out;
}
main .exploreCVs .exploreFilter form .apply:hover {
  background: #191936;
}
main .exploreCVs .paginations {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
main .exploreCVs .paginations .paginations_btn {
  width: 32px;
  cursor: pointer;
  height: 32px;
  background: #1d70b7;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}
main .exploreCVs .paginations .paginations_btn:hover {
  background: #191936;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
main .exploreCVs .paginations .paginations_btn.disabled {
  opacity: 0.5;
  pointer-events: none;
}
main .exploreCVs .paginations ul {
  display: flex;
}
main .exploreCVs .paginations ul li {
  padding: 0 16px;
}
main .exploreCVs .paginations ul li span {
  font-size: 16px;
  -moz-columns: #191936;
       columns: #191936;
  cursor: pointer;
}

.cv {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  height: 100%;
}
.cv .cv_details {
  display: flex;
  gap: 32px;
}
.cv .cv_details .img {
  width: 100%;
  flex: 2;
}
.cv .cv_details .img img {
  width: 100%;
  aspect-ratio: 3/2;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.cv .cv_details .info {
  flex: 3;
}
.cv .cv_details .info ul {
  display: flex;
  flex-wrap: wrap;
}
.cv .cv_details .info ul li {
  width: 50%;
}
.cv .cv_details .info ul li span {
  font-size: 14px;
}
.cv .cv_details .info ul li h3 {
  font-size: 18px;
  font-weight: 700;
  color: #191936;
}
.cv .button a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  color: #fff;
  background: #1d70b7;
  border-radius: 4px;
}

footer {
  padding: 60px 12px 16px;
  background: linear-gradient(12deg, #191936, #1d5eb7);
}
footer .logo img {
  height: 120px;
}
footer p {
  color: #fff;
  font-weight: 40;
  line-height: 24px;
  margin-top: 24px;
}
footer .social {
  display: flex;
  margin-top: 16px;
  gap: 12px;
}
footer .social a {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
footer .social a i {
  color: #191936;
}
footer .social a:hover {
  transform: translateY(-4px);
}
footer .footer_head {
  color: #fff;
}
footer .footer_head_after {
  width: 130px;
  height: 4px;
  background: #fff;
  position: relative;
  display: block;
  border-radius: 2px;
}
footer .footer_head_after::after {
  position: absolute;
  left: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  content: "";
  background: #fff;
  top: 50%;
  transform: translateY(-50%);
}
footer .links {
  margin-top: 24px;
}
footer .links li {
  margin-bottom: 4px;
}
footer .links li a {
  color: #fff;
  position: relative;
  transition: all 0.4s ease-in-out;
}
footer .links li a::after {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: all 0.4s ease-in-out;
}
footer .links li a:hover {
  padding-right: 16px;
}
footer .links li a:hover::after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}
footer .links_contact {
  margin-top: 24px;
}
footer .links_contact li {
  margin-bottom: 8px;
}
footer .links_contact li i,
footer .links_contact li b,
footer .links_contact li a {
  color: #fff;
}
footer .links_contact li i {
  margin-left: 8px;
}
footer .links_contact li b {
  font-size: 14px;
}
footer .copy {
  margin-top: 32px;
  padding-top: 16px;
  border-top: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .copy p {
  margin: 0;
}

.dropdown-item.active,
.dropdown-item:active {
  background: #1d70b7;
}

.btn-default {
  border: 1px solid #eee !important;
}

.bootstrap-select.dropup .dropdown-toggle:after {
  transform: rotate(-45deg) translateY(-50%);
  height: 0.5em;
  width: 0.5em;
}

.dropdown-menu.show {
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=style.css.map */